<script type="text/javascript" src="<?= publicdir('js/jquery.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/js.js') ?>"></script>

<script type="text/javascript" src="<?= publicdir('js/jquery.jcarousel.min.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/jcarousel.connected-carousels.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/jshashtable-2.1_src.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/jquery.numberformatter-1.2.3.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/tmpl.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/jquery.dependClass-0.1.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/draggable-0.1.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/jquery.slider.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/vendor/jquery.simpleselect.js') ?>"></script>

<script type="text/javascript" src="<?= publicdir('js/vendor/fancybox/jquery.fancybox.pack.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/vendor/fancybox/helpers/jquery.fancybox-buttons.js') ?>"></script>
<script type="text/javascript" src="<?= publicdir('js/vendor/fancybox/helpers/jquery.fancybox-thumbs.js') ?>"></script>

<?php if ( $page == 'index' ): ?>
    <script src="<?= publicdir("js/main.js") ?>"></script>
<?php elseif ($page == 'infrastructure'): ?>
    <script src="<?= publicdir("js/vendor/js.render.js") ?>"></script>
    <script src="<?= publicdir("js/ijm.js") ?>"></script>
<?php endif; ?>
