<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic'
    rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<?= publicdir('css/fonts.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/css.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/central.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/print.css') ?>" media="print">

<link rel="stylesheet" href="<?= publicdir('css/jcarousel.connected-carousels.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/vendor/jquery.simpleselect.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/central_jslider.css') ?>">


<link rel="stylesheet" href="<?= publicdir('css/vendor/fancybox/jquery.fancybox.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/vendor/fancybox/jquery.fancybox-buttons.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/vendor/fancybox/jquery.fancybox-thumbs.css') ?>">

<link rel="stylesheet" href="<?= publicdir('css/styles.css') ?>">

<?php if ($page == 'infrastructure'): ?>
    <link rel="stylesheet" href="<?= publicdir('css/ijm.css') ?>">
<?php endif; ?>
