<table cellspacing="0" class="foot">
<tr valign="top">
    <td>
        <div class="clear"></div>

        <table cellspacing="0" width="100%">
        <tr valign="top">
            <td style="padding:21px 30px 0px 30px">
                <a href="#"><img src="<?= publicdir('images/central/nv.gif') ?>"></a><br>
                <div class="copy">&copy; Новые Ватутинки 2015.<br>Все права защищены.</div>
            </td>
            <td nowrap>
                <div class="parent">Микрорайон «Центральный»</div>
                <table cellspacing="0">
                <tr valign="top">
                    <td nowrap>
                        <div class="lnk"><a href="#">Главная</a></div>
                        <div class="lnk"><a href="#">О нас</a></div>
                        <div class="lnk"><a href="#">Новости</a></div>
                        <div class="lnk"><a href="#">Генплан</a></div>
                    </td>
                    <td style="padding-left:80px" nowrap>
                        <div class="lnk"><a href="#">Квартиры</a></div>
                        <div class="lnk"><a href="#">Кладовые</a></div>
                        <div class="lnk"><a href="#">Как купить</a></div>
                        <div class="lnk"><a href="#">Контакты</a></div>
                    </td>
                </tr>
                </table>
                <div class="parent"><a href="#">Квартал Южный</a></div>
			</td>
            <td width="100%"></td>
            <td nowrap style="padding-right:30px">
                <div class="phone-bottom" id="comagic">+7 (495) 660-05-60</div>
                <br><br>
                <?php include "src/views/blocks/uptolike.phtml" ?>

                <div style="padding:70px 0px 0px 0px" align="right">
	                <a href="#" target="_blank"
                        style="color:#4e5159;font-size:10px;text-decoration:none">разработка сайта</a>
                    <br>
                </div>
            </td>
        </tr>
        </table>

	</td>
</tr>
</table>
