<!-- new central top -->
<div class="new-central-top">
    <a class="new-central-top-title" href="#">Объекты в продаже</a>
    <div class="new-central-top-content">
        <div class="new-central-top-menu">
            <ul>
                <li class="active"><div><img
                    src="<?= publicdir('images/central/new-central-top-icon-1.png') ?>"
                    alt="" width="13" height="15"> Квартиры <span>940</span></div></li>
                <li><a href="#"><img
                    src="<?= publicdir('images/central/new-central-top-icon-2.png') ?>"
                    alt="" width="11" height="15" /> Вторичка <span>17</span></a></li>
                <li><a href="#" target="_blank"><img
                    src="<?= publicdir('images/central/new-central-top-icon-3.png') ?>"
                    alt="" width="16" height="14" /> Машиноместа</a> <span>25</span></a></li>
                <li><a href="#" target="_blank"><img
                    src="<?= publicdir('images/central/new-central-top-icon-4.png') ?>"
                    alt="" width="15" height="15" /> Нежилые помещения</a> <span>9</span></a></li>
            </ul>
        </div>
        <div class="new-central-top-form">
            <form method="post" name="fullsearch" action="">
                <input type="hidden" name="search" value="1" />
                <input type="hidden" name="sq_param" value="1" />
                <input type="hidden" name="flor_param" value="1" />
                <input type="hidden" name="korpus_param" value="1" />

                <div class="new-central-top-field">
                    <div class="new-central-top-label">Комнаты</div>
                    <script>var kk=new Array();</script>
                    <script>kk[0]=2;</script>
                    <input type="hidden" name="k1" id="k1" value="2">
                    <script>kk[1]=1;</script>
                    <input type="hidden" name="k2" id="k2" value="2">
                    <script>kk[2]=3;</script>
                    <input type="hidden" name="k3" id="k3" value="2">
                    <script>kk[3]=4;</script>
                    <input type="hidden" name="k4" id="k4" value="2">

                    <div class="new-central-top-select">
                        <select name="komnat" id="komnat">
                            <option value="">Все</option>
								<option value="2">2</option>
								<option value="1">1</option>
								<option value="3">3</option>
								<option value="4">4</option>
                        </select>
                    </div>
                </div>

                <div class="new-central-top-field">
                    <div class="new-central-top-label">Цена</div>
                    <input type="hidden" name="price_param" id="price_param" value="2" />

                    <div class="layout-slider">
                        <input id="price" type="slider" name="price" value="2990538;8169690" />
                    </div>
                    <script type="text/javascript" charset="utf-8">
                        jQuery("#price").slider({
                            from      : 2990538,
                            to        : 8169690,
                            step      : 10,
                            smooth    : true,
                            round     : 0,
                            dimension : ".-",
                            limits    : false
                         });
                    </script>
                </div>
                <div class="new-central-top-adv-link"><a href="#">Расширенный поиск</a></div>
                <div class="new-central-top-submit" onclick="SetKV();">Искать</div>
            </form>
        </div>
    </div>
</div><!-- new central top END -->

<div id="print-head"><img src="<?= publicdir('images/central/print_head.gif') ?>"></div>

<!-- new central park -->
<div class="new-central-park">
    <div class="new-central-park-logo"><a href="#"><img
        src="<?= publicdir('images/central/logo_nv.png') ?>"
        alt="Новые Ватутинки" width="127" height="50" /></a></div>
    <div class="phone" id="comagic">+7 (495) 660-05-60</div>
    <a href="#" class="call-back"></a>
    <div class="new-central-park-menu">
        <ul>
            <li class="active new-central-park-menu-with-submenu right">
                <a href="#">О нас</a>
                <ul>
                    <li class="active"><a href="#">Презентация</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Документы</a></li>
                </ul>
            </li>
            <li><a href="#">Новости</a></li>
            <li class="new-central-park-menu-with-submenu">
                <a href="#">Генплан</a>
                <ul>
                    <li><a href="#">Карта микрорайона</a></li>
                </ul>
            </li>
            <li class="new-central-park-menu-with-submenu">
                <a href="#">Квартиры</a>
                <ul>
                    <li><a href="#">Планировки</a></li>
                    <li><a href="#">Trade-in</a></li>
                    <li><a href="#">Шоурумы</a></li>
                    <li><a href="#">Отделка</a></li>
                </ul>
            </li>
            <li><a href="#">Кладовые</a></li>
            <li class="new-central-park-menu-with-submenu">
                <a href="#">Как купить</a>
                <ul>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Просмотр квартир</a></li>
                    <li><a href="#">Оформление</a></li>
                    <li><a href="#/">Условия реализации</a></li>
                </ul>
            </li>

            <li><a href="#">Контакты</a></li>
        </ul>
    </div>

    <div class="new-central-park-district">
        <div class="new-central-park-district-title"><a href="/#"><img
            src="<?= publicdir('images/central/new-central-park-district.png') ?>"
             alt="Микрорайон Центральный" width="337" height="59" /></a></div>
        <div class="new-central-park-district-menu new-central-park-district-menu-district">
            <div class="new-central-park-district-menu-icon"></div>
            <div class="new-central-park-district-menu-list">
                <ul>
                    <li class="active"><a href="#">Микрорайон «Центральный»</a></li>
                    <li><a href="#">Квартал «Южный»</a></li>
                    <li><a href="#" target="_blank">Посёлок «Синергия»</a></li>
                </ul>
            </div>
        </div>
        <div class="new-central-park-district-menu new-central-park-district-menu-video">
            <div class="new-central-park-district-menu-icon"></div>
            <div class="new-central-park-district-menu-list">
                <ul>
                    <li><a href="#">Ход строительства</a></li>
                    <li><a href="#">Видеотрансляция</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- new central park END -->
