<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="Новые Ватутинки" />
<meta name="description" content="Новые Ватутинки" />
<meta name="viewport" content="width=device-width, initial-scale=1">
