<div class="main-nav">
    <a href="#location" rel="scrollto" class="main-nav__link main-nav__link--location"><span>Местоположение</span></a>
    <a href="#flat-search" rel="scrollto" class="main-nav__link main-nav__link--flat-search"><span>Выбор квартиры</span></a>
    <a href="#infrastructure" rel="scrollto" class="main-nav__link main-nav__link--infrastructure"><span>Инфраструктура</span></a>
    <a href="#special" rel="scrollto" class="main-nav__link main-nav__link--special"><span>Условия покупки</span></a>
    <a href="#docs" rel="scrollto" class="main-nav__link main-nav__link--docs"><span>Документы</span></a>
</div>
