<?php // Infrastructure JS Map = IJM
      // style: /src/less/blocks/ijm.less
?>
<p>
    some paragraph
</p>
<?php include "src/views/blocks/ijm.phtml"; ?>
<div>
    some text
</div>
<p>
    some paragraph
</p>
