.docs {
    background   : @white;
    padding      : 55px 30px 24px 30px;

    &__header {
        .h1();
    }

    &__list {
        lost-utility : clearfix;
        margin-top   : 40px;
    }
    &__item {
        lost-column   : 1/2 2 @grid-gap;
        padding       : 0 40px;
        lost-utility  : clearfix;
        margin-bottom : 60px;
        box-sizing    : border-box;
    }
    &__preview-link {
        float  : left;
        width  : 140px;
        height : 198px;

        img {
            box-shadow: 0 0 9px 4px #D6D6D6;
        }
    }
    &__text {
        float       : left;
        width       : 256px;
        margin-left : 30px;
    }
    &__title {
        font          : 22px/25px v33r, sans-serif;
        color         : @firstafterblack;
        padding-top   : 4px;
    }
    &__description {
        margin : 20px 0 23px 0;
        font   : 15px/20px v31r, sans-serif;
        color  : @gray;
    }
    &__link-wrapper {
        display : table;

        span {
            font : 15px/19px v31r, sans-serif;
            color : @bluegray;
            padding-left : 8px;
        }
    }
    &__link {
        font           : 15px/19px v31r, sans-serif;
        vertical-align : top;
        display        : inline-block;
        position       : relative;
        padding-left   : 28px;
        &, &:hover, &:active, &:visited {
            color : @blue;
            text-decoration: none;
        }
        &:hover { text-decoration: underline;}
        &:before {
            content  : url("../images/landing/pdf-icon.png");
            width    : 23px;
            height   : 24px;
            position : absolute;
            left     : -3px;
        }
    }


}
