#fade-starter {
    position   : absolute;
    left       : 0;
    right      : 0;
    top        : 0;
    bottom     : 0;
    background : #59504b;
    z-index    : 99999;

    opacity    : 1;
    transition : opacity .4s ease-in;
}
#fade-starter.faded {
    opacity : 0;
}
