.flat-search {
    padding    : 248px 30px 30px 30px;
    background : url("../images/landing/flat-search-bg.jpg");
    height     : 600px;
    width      : 100%;

    box-sizing : border-box;
    &__wrapper {
        border-radius    : 3px;
        background-color : @blue-with-alpha;
        height           : 100%;
        padding          : 46px @grid-col+@grid-gap;
        padding-bottom   : 0;
        box-sizing       : border-box;
    }

    &__header {
        .h1();
        letter-spacing : 0;
        text-indent : 0;
        color : @white;
    }

    &__form {
        margin-top   : 36px;
        lost-utility : clearfix;
    }
    &__input-wrapper {
        lost-column : 1/4 4 @grid-gap;
        text-align : center;

        label {
            display        : block;
            font           : 18px/18px v33r, sans-serif;
            color          : @lime;
            padding-left   : 15px;
            text-align     : left;
            padding-bottom : 15px;
        }
    }
    &__form-select {
        width : 100%;
    }
    &__submit-wrapper {
        lost-column   : 1 0 0;
        display       : block;
        margin-top    : 40px;
        text-align    : center;
    }
    &__submit {
        .yellow-btn-3d();
        padding-bottom : 10px;
        padding-top    : 0;
        padding-left   : 0;
    }

    .jslider {
        width : 158px;
        .jslider-value {
            font        : 12px/18px v31r, sans-serif;
            height      : 18px;
            top         : 22px;

            &.jslider-value-to {
                margin-right : -7px;
            }
            span {
                font  : 12px/18px v31r, sans-serif;
                color : @gray;
            }
        }
        .jslider-pointer {
            background : url('../images/landing/jslider-handle.png');
            width      : 13px;
            height     : 25px;
            top        : -8px;
        }

        .jslider-bg {
            .l { background: url('../images/landing/jslider-bg.png') no-repeat 0 0; background-position : left 0;}
            .f { background: url('../images/landing/jslider-bg.png') no-repeat 0 0;}
            .r { background: url('../images/landing/jslider-bg.png') no-repeat 0 0; background-position : right 0;}
            .v { background: url('../images/landing/jslider-bg.png') no-repeat 0 0; background-position : 0 -20px; }
        }
    }

}
