.gallery {
    background   : @lightgray;
    padding      : 60px 60px 70px 80px;
    lost-utility : clearfix;

    &__col {
        lost-column : 1/2 0 0;
        box-sizing  : border-box;
    }

    &__col-txt-wrapper {
        max-width : 370px;

        font      : 15px/19px v31r, sans-serif;
        color     : @gray;
    }

    &__header {
        .h1();
        line-height : 26px;
        max-width   : 310px;
        text-align  : left;
        padding-top : 9px;
    }

    &__list {
        .blue-list();
        margin-top    : 28px;
        margin-bottom : 17px;
        padding-top   : 9px;

        li {
            padding-left   : 25px;
            padding-bottom : 13px;

            &:before {
                left : 7px;
                top  : 9px;
            }
        }
    }

    &__paragraph {
        font         : 15px/20px v31r, sans-serif;
        padding-left : 5px;
        color        : @gray;
    }

}

.fancygallery {
    &__large {
        display    : block;
        position   : relative;

        width               : 460px;
        height              : 460px;
        background          : url('../images/landing/fancybox/01.jpg');
        background-size     : cover;
        background-position : top left;

        .icon {
            background:   url('../images/landing/fancybox/lrg-preview-overlay.png');
            display     : inline-block;
            top         : 50%;
            position    : absolute;
            margin-top  : -51px;
            left        : 50%;
            margin-left : -107px;
            height      : 102px;
            width       : 215px;
        }
    }
    &__caller {
        width   : 460px;
        height  : 460px;
        display : block;
    }
    &__row-previews {
        lost-utility : clearfix;
        position     : relative;
        max-height   : 260px;
        overflow-y   : hidden;
    }
    &__preview {
        box-sizing  : content-box;
        margin-top   : @grid-gap;
        lost-column : 1/4 4 @grid-gap - 8px;
        height      : 100px;
        width       : 100px;
        display     : inline-block;
        padding     : 3px;

        &:hover {
            border     : 1px solid @blue;
            padding    : 2px;
        }
    }
}



.fancybox-close {display:block; position:absolute; right:-19px; top:-19px; width:39px; height:39px; background:@blue url('../images/landing/fancybox-close.png') no-repeat center; border-radius:20px}
.fancybox-close:hover {background-color: darken(@blue, 10%);}
.fancybox-close:active {background-color: @blue}

.fancybox-prev,
.fancybox-next {display:block; width:118px; height:100%; position:absolute; top:0; background:rgba(0, 0, 0, .5); opacity:0}
.fancybox-prev:hover,
.fancybox-next:hover {opacity:1}
.fancybox-prev span,
.fancybox-next span {display:block; width:39px; height:75px; position:absolute; left:50%; top:50%; margin:-38px 0 0 -20px; background:url('../images/landing/fancybox-arrows.png')}
.fancybox-prev {left:0}
.fancybox-next {right:0}
.fancybox-next span {background-position:-39px top}
.fancybox-title.fancybox-title-inside-wrap {
    height      : 40px;
    font        : 15px/15px v31r, sans-serif;
    color       : @gray;
    text-align  : center;
    padding-top : 0;
    display     : table;
    width       : 100%;
    .title-extra-wrapper {
        display        : table-cell;
        vertical-align : middle;
    }
}
.fancybox-overlay {background : rgba(0,0,0,.8); z-index: 2147483646; }
#fancybox-thumbs ul li {

    &.active {
        padding : 1px;
        border : 1px solid @blue;
    }
    margin-right : 3px;
    border: none;
    padding : 2px;

    a  {
        border : 2px solid transparent;
        background : transparent;
    }

}
.fancybox-opened {
    z-index : 2147483648 !important;
}

@w1 :111px;
#fancybox-thumbs {
    left        : 50%;
    margin-left : -@w1 * 5/2;
    width       : @w1*5;
    overflow-x  : hidden;
    z-index : 2147483648 !important;


    ul {
        transition : left .3s ease-in;
        &.pos-0 { left : 0 !important; }
        &.pos-1 { left : -@w1*1 !important;}
        &.pos-2 { left : -@w1*2 !important;}
        &.pos-3 { left : -@w1*3 !important;}
        &.pos-4 { left : -@w1*4 !important;}
        &.pos-5 { left : -@w1*5 !important;}
        &.pos-6 { left : -@w1*6 !important;}
        &.pos-7 { left : -@w1*7 !important;}
        &.pos-8 { left : -@w1*8 !important;}
        &.pos-9 { left : -@w1*9 !important;}
        &.pos-10 { left : -@w1*10 !important;}
    }

    &.bottom { bottom : 14px; }
}
.fancybox-thumb-control {

    background : @blue;
    height : 60px;
    width : 60px;
    border-radius : 30px;
    position : fixed;
    bottom : 36px;;
    z-index : 2147483647 !important;
    &.disabled {
        background : @easygray;
        cursor : default;
    }
    &.prev { left: 50%; margin-left : -357px; }
    &.next { right : 50%; margin-right : -357px; }

    span {
        width      : 11px;
        height     : 20px;
        position   : absolute;
        left       : 50%;
        top        : 50%;
        margin     : -10px 0 0 -6px;
        background : url('../images/landing/thumb-controls.png');
    }
    &.next span {
        background-position: -11px top;
    }
}
