.ijm {
    position     : relative;
    lost-utility : clearfix;

    &__config { display : none; }

    &__controls {
        position : absolute;
        z-index  : 5;
        top      : 40px;
        left     : 40px;
    }

    &__control {
        border-radius : 20px;
        border        : 2px solid @white;
        font          : 19px/normal v31r;
        cursor        : hand;
        cursor        : pointer;
        padding       : 7px 18px;

        &, &:hover, &:active, &:visited {
            text-decoration : none;
            color           : @white;
        }

        &.active {
            background : @white;
            &, &:hover, &:active, &:visited {
                color           : @gray;
            };
        }
    }

    &__canvas {
        z-index    : -1;
        position   : absolute;
        // top        : 0;
        // left       : 0;
        background : yellow;
        // height     : 600px;

        // visibility issue
        opacity : 0;
        transition : opacity .3s ease-in;

        &.active {
            position: relative;
            opacity : 1;
            z-index : 3;
        }

        &&--3D {

        }
        &&--plain {

        }
    }

    &__overlay {
        position : absolute;
        z-index  : 4;
        left     : 0;
        top      : 0;
        height   : 100%;
        width    : 100%;
    }
    &__tooltip {
        position      : absolute;
        min-height    : 46px;
        min-width     : 140px;
        padding       : 4px 8px;
        box-sizing    : border-box;
        border-radius : 3px;
        background    : @yellow2;

        &.any-width {
            min-width : 0;
        }

        &.clickable {
            cursor : pointer;
        }

        .ijm__title, .ijm__status {
            text-align : center;
            font       : 13px/16px v31r;
        }

        .ijm__title { color : @black; }
        .ijm__status { color : @olive; }

        &.no {
            background : @blue;

            .ijm__title {
                color : @white;
            }
            .ijm__status {
                color : @blue_light;
            }

        }
    }

    &__tooltip-flag {
        width        : 0;
        height       : 0;
        border-style : solid;
        border-width : 8px 8px 0 8px;
        border-color : @yellow2 transparent transparent transparent;
        position     : absolute;
        bottom       : -8px;
        left         : 50%;
        margin-left  : -8px;
    }
    &__tooltip.no .ijm__tooltip-flag {
        border-color : @blue transparent transparent transparent;
    }

    &__popup {
        background    : @white;
        border-radius : 20px;
        box-sizing    : border-box;
        padding       : 20px 0;
        position      : absolute;
        top           : 73px;
        left          : 50%;
        margin-left   : -135px;
        z-index       : 7;
        cursor        : default;

        lost-utility  : clearfix;

        .ijm__popup-corner {
            width        : 0;
            height       : 0;
            border-style : solid;
            border-width : 0 18px 18px 18px;
            border-color : transparent transparent #ffffff transparent;

            position     : absolute;
            top          : -18px;
            left         : 50%;
            margin-left  : -18px;
        }
        &.up {
            .ijm__popup-corner {
                width        : 0;
                height       : 0;
                border-style : solid;
                border-width : 18px 18px 0 18px;
                border-color: #ffffff transparent transparent transparent;

                position     : absolute;
                top          : auto;
                bottom       : -18px;
                left         : 50%;
                margin-left  : -18px;
            }
        }

        display : none;
        &.active {
            display : block;
        }

        main {
            padding : 0 20px;
            width   : 270px;
            float   : left;

            box-sizing : border-box;
        }
        aside {
            width        : 270px;
            padding      : 0 20px;
            float        : left;

            box-sizing   : border-box;
            border-left  : 1px solid #c2c2c2;
        }
        h1 {
            font : 21px/24px v31r;
            color : @gray;
        }
        p {
            font : 15px/18px v31r;
            color : @gray;
        }
        a, a:hover, a:visited, a:active {
            color : @blue;
            font  : 15px/18px v31r;
        }
        h2 {font : 15px/18px v33r; color : @gray;}
        ul {
            list-style : none;
            margin     : 0;
            padding    : 0;
            li {
                font         : 15px/18px v31r;
                color        : @gray;
                padding      : 4px 10px 4px 15px;
                position     : relative;

                &:before {
                    content       : " ";
                    background    : @blue;
                    width         : 4px;
                    height        : 4px;
                    border-radius : 4px;
                    display       : inline-block;
                    position      : absolute;
                    left          : 0px;
                    top           : 14px;
                }
            }
        }
    }

    &__popup-close {
        width      : 35px;
        height     : 35px;
        background : url("../images/landing/popup-close.png");
        display    : inline-block;
        position   : absolute;
        right      : -17px;
        top        : -17px;
        z-index    : 8;
        cursor     : pointer;
    }

    &__legend {
        position: absolute;
        top: 400px;
        left: 40px;
    }

}
