.infrastructure{
    padding          : 50px 30px 70px 30px;
    background-color : @white;

    &__header {
        .h1();
        text-indent: 63px;
    }
    &__subheader {
        .h2();
        margin-bottom : 30px;
    }

    &__illustration {
        margin : 40px 0;
    }

    &__social-wrapper {
        lost-utility : clearfix;
        margin       : 44px @grid-col;
        padding      : 0 @grid-gap;
    }
    &__social-item {
        lost-column : 1/5 0 @grid-gap;
        text-align  : center;
        font        : 15px/20px v31r, sans-serif;
        color       : @gray;
        box-sizing  : border-box;

        &:before {
            display       : block;
            text-align    : center;
            margin-bottom : 18px;
        }

        &&--kindergarden:before {
            content : url("../images/landing/infrastructure-icon.kindergarden.png");
        }
        &&--school:before {
            content : url("../images/landing/infrastructure-icon.school.png");
        }
        &&--clinic:before {
            content : url("../images/landing/infrastructure-icon.clinic.png");
        }
        &&--parking:before {
            content : url("../images/landing/infrastructure-icon.parking.png");
        }
        &&--cafe:before {
            content : url("../images/landing/infrastructure-icon.cafe.png");
        }
    }

    &__extras {
        lost-utility : clearfix;
        padding      : 0 @grid-gap;
        margin       : 0 @grid-col;
    }
    &__extras-header {
        .h3();
        margin-bottom : 30px;
    }
    &__extra-col {
        lost-column : 1/2 0 @grid-gap;
    }
    &__extra-list {
        .blue-list();
    }

}
