.location {
    background : #f2f4f5;
    padding : 60px 56px 62px 84px;

    lost-utility : clearfix;

    &__text {
        width : 370px;
        float : left;
    }

    &__illustration {
        float : right;
    }

    &__header {
        letter-spacing : -.4px;
        padding-top    : 12px;
        font           : 30px/25px v31r,sans-serif;
        color          : @blue;
        margin-bottom  : 37px;
    }
    &__paragraph {
        margin : 21px 0;
        font   : 15px/20px v31r,sans-serif;
        color  : @gray;
    }
    &--address {
        letter-spacing : .2px;
        font           : 15px/20px v33r,sans-serif;
    }
    &__link {
        display : block;
        font    : 15px/20px v31r, sans-serif;
        &, &:hover, &:active, &:visited {
            color           : #00a1e4;
            text-decoration : none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
