.newblocks {
    height              : 740px;
    width               : 100%;
    background-image    : url("../images/landing/banner1.jpg");
    background-size     : 100% auto;
    background-position : top center;
    box-sizing          : border-box;
    position            : relative;

    transition : background .4s ease-in;

    &--bg1 {
        background-image    : url("../images/landing/banner1.jpg");
    }
    &--bg2 {
        background-image    : url("../images/landing/banner2.jpg");
    }
    &--bg3 {
        background-image    : url("../images/landing/banner3.jpg");
    }

    @pad : 30px + @grid-col + @grid-gap;
    padding : 210px @pad 180px @pad;

    * { box-sizing : inherit; }

    &__window {
        border-radius    : 3px;
        background-color : @blue-with-alpha;
        width            : 100%;
        height           : 100%;
    }
    &__header {
        padding-top : 37px;
        font        : 60px/51px v31r,sans-serif;
        color       : @white;
        text-indent : 18px;
        text-align  : center;
    }
    &__subheader {
        padding-top : 33px;
        font        : 30px/28px v31r, sans-serif;
        color       : @white;
        text-align  : center;
    }
    &__controls {
        height     : 60px;
        width      : 816px;
        margin     : 40px auto 50px auto;
        font-size  : 0;
    }
    &__btn {
        .yellow-btn-flat();

        &:first-child {
            margin-right : 11px;
        }
        &:last-child {
            margin-left : 11px;
        }
    }

    &__slide-controls {
        position   : absolute;
        bottom     : 40px;
        height     : 20px;
        width      : 860px;
        font-size  : 0;
        text-align : center;
    }
    &__dot {
        display       : inline-block;
        height        : 20px;
        width         : 20px;
        border-radius : 10px;
        background    : @white;
        opacity       : .7;
        margin-right  : 10px;
        &&--active {
            opacity : 1;
        }
    }
}
