.special {
    lost-utility  : clearfix;
    background    : @lightgray;
    padding       : 50px 30px;
    border-bottom : 2px solid @white;

    &__header {
        .h1();
        margin-bottom : 50px;
    }

    &__block {
        lost-column   : 1/2 0 0;
        box-sizing    : border-box;

        padding-left  : 15px;
        padding-right : 0;
        padding-top   : 11px;

        &&--bordered {
            border-right  : 1px solid @easygray;
            padding-right : 15px;
            padding-left  : 0;
        }
    }
    &__block-inner {
        width      : 4*@grid-col + 3*@grid-gap;
        box-sizing : border-box;
        text-align : center;
        margin     : 0 auto;
    }

    &__subheader {
        font          : 22px/24px v33r, sans-serif;
        text-align    : center;
        margin-bottom : 8px;

        &:before {
            display       : block;
            text-align    : center;
            margin-bottom : 27px;
        }

        &&--mortgage:before {
            content : url("../images/landing/special-icon.mortgage.png");
        }
        &&--coin:before {
            content : url("../images/landing/special-icon.coin.png");
        }
    }
    &__text {
        font           : 15px/20px v31r, sans-serif;
        color          : @gray;
        margin-bottom  : 30px;
        text-align     : center;
        letter-spacing : .1px;
    }

    &__btn {
        .yellow-btn-3d();

        margin-top : 12px;

        &&--mortgage { margin-left : -18px; }
        &&--coin { margin-left : -2px; }
    }
}
