.new-central-park-menu > ul > li.new-central-park-menu-with-submenu {
    &.right {
        &:hover {
            & > a:after  {left:auto; right:-10px; background-position:-10px top;}
            & > ul {left : 0; right : auto;}
        }
    }
}


.new-central-park .phone {
    // position : absolute;
    // right    : 216px;
    // top      : 35px;
    // font     : 20px/20px v33r, sans-serif;
    // уже не надо
    &.fixed {
        position   : fixed;
        right      : 42px;
        font       : 20px/40px v31r;
        top        : 31px;
        z-index    : 9999;
        background : #00A1E4;
        padding    : 10px;
        top        : 60px;
        right      : 86px;
        height     : 40px;
        width      : 220px;
        box-sizing : border-box;
        text-align : center;
        padding    : 0;
    }
}
.new-central-park .call-back {
    &, &:hover, &:active, &:visited {
        text-decoration : none;
    }

    position   : absolute;
    top        : 32px;
    right      : 40px;
    width      : 159px;
    height     : 31px;
    background : url("../images/landing/call-back-btn.png") no-repeat;

    display : none;
}
.phone-bottom {
    text-align : right;
}
