.main-nav {
    lost-utility : clearfix;
    height : 60px;

    &.fixed {
        position : fixed;
        top      : 0;
        z-index  : 8000;
        width    : 1100px;
    }
    
    &__link {
        lost-column      : 1/5 0 0;
        height           : 60px;
        background-color : @lime;

        text-align       : center;

        border-right     : 1px solid @lime-dirty;
        box-sizing       : border-box;

        &, &:visited, &:active, &:hover {
            color : @black;
            text-decoration: none;
        }
        &:hover {
            background-color : #F6FF54;
        }
        &:active, &.active {
            background-color : @white;
        }

        &:last-child {
            border-right : none;
        }

        span {
            font-size        : 15px;
            color            : @black;
            font-family      : v33r, sans-serif;
            line-height      : 60px;
        }
    }
}
