.h1 {
    font           : 30px/30px v31r,sans-serif;
    color          : @blue;
    text-align     : center;
    letter-spacing : -.74px;
}
.h2 {
    padding-top    : 1px;
    color          : @almostblack;
    font           : 23px/30px v33r,sans-serif;
    text-align     : center;
    margin-bottom  : 30px;
    letter-spacing : -.3px;
}
.h3 {
    color      : @firstafterblack;
    font       : 22px/30px v33r, sans-serif;
    text-align : center;
}

.yellow-btn-flat {
    background-color : @yellow;
    height           : 60px;
    width            : 264px;
    box-sizing       : border-box;
    display          : inline-block;
    border-radius    : 60px;
    text-align       : center;
    padding-top      : 19px;
    span {
        letter-spacing : .3px;
        font           : 21px/16px 'PT Sans', sans-serif;
        font-weight    : 700;
        color          : @almostblack;;
        border-bottom  : 1px dashed @almostblack;
    }

    &, &:hover, &:active, &:visited {
        color           : @almostblack;
        text-decoration : none;
    }

    cursor : pointer;

}
.yellow-btn-3d {
    background     : url('../images/landing/btn-yellow-3d.png') no-repeat;
    width          : 283px;
    height         : 68px;
    margin-left    : 4px;
    display        : inline-block;
    text-align     : center;
    font           : 15px/15px v33r, sans-serif;
    text-transform : uppercase;
    padding-top    : 22px;
    box-sizing     : border-box;
    border         : 0;
    cursor         : pointer;

    &, &:hover, &:active, &:visited {
        text-decoration : none;
        color           : @black;
    }
}

.blue-list {
    list-style   : none;
    margin       : 0;
    padding-left : 0;
    padding-top  : 9px;

    li {
        font           : 15px/19px v31r, sans-serif;
        color          : @gray;
        padding-left   : 17px;
        position       : relative;
        padding-bottom : 1px;
        max-width      : 330px;

        &:before {
            position      : absolute;
            left          : 0px;
            top           : 4px;
            content       : " ";
            background    : @blue;
            width         : 8px;
            height        : 8px;
            border-radius : 8px;
            display       : inline-block;
        }
    }
}
