@blue : #00a1e4;
@blue_light : #82daff;
@white : #fff;
@black : #000;
@almostblack : #282828;
@firstafterblack : #1d1f22;
@gray : #546279;
@easygray : #b3bfc5;
@lightgray : #f2f4f5;
@bluegray : #9ebbc7;
@lime : #d0db1f;
@lime-dirty : #aeb724;
@yellow : #ffed00;
@yellow2 : #fff355;
@olive : #847e29;
@blue-with-alpha : rgba(0, 161, 228,0.902);

@grid-gap : 20px;
@grid-col : 68px;
