<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>

<?php include "helpers/meta.phtml" ?>
<?php include "helpers/assets-css.phtml" ?>
<?php include "helpers/assets-js.phtml" ?>

</head>
<body class="supportDesktop">
    <?php include "src/views/blocks/fade-starter.phtml" ?>
    
<center>
	<table cellspacing="0" class="bd">
	<tr valign="top">
        <td class="l">
    		<img src="<?= publicdir('images/left.gif') ?>"><br>
    	</td>
        <td class="c">
            <?php include "helpers/header.phtml" ?>
            <?php include "helpers/nav.phtml" ?>

            <div style="background:#1f1f1f;padding:0" id="cprn">
                <?php include "pages/index.phtml" ?>
            </div>

            <?php include "helpers/footer.phtml" ?>
        </td>
        <td class="r">
            <img src="<?= publicdir('images/right.gif') ?>"><br>
        </td>
    </tr>
    </table>
</center>
</body>
</html>
