<div class="docs nav-checkpoint" data-nav-checkpoint="docs">
    <div class="docs__header">
        Документы
    </div>
    <div class="docs__list">

        <div class="docs__item">
            <a href="#" class="docs__preview-link">
                <img src="<?= publicdir('images/landing/doc-preview-2.png') ?>">
            </a>
            <div class="docs__text">
                <div class="docs__title">
                    Разрешение<br>на строительство
                </div>
                <div class="docs__description">
                    Медиапланирование трансформирует контент.
                    Представляется логичным, что тактика выстраивания отношений
                    с коммерсчекими агентами искажает мониторинг активности.
                </div>
                <div class="docs__link-wrapper">
                    <a href="#" class="docs__link">Скачать</a>
                    <span>(pdf, 1МБ)</span>
                </div>
            </div>
        </div>

        <div class="docs__item">
            <a href="#" class="docs__preview-link">
                <img src="<?= publicdir('images/landing/doc-preview-1.png') ?>">
            </a>
            <div class="docs__text">
                <div class="docs__title">
                    Проектная<br>декларация
                </div>
                <div class="docs__description">
                    Медиапланирование трансформирует контент.
                    Представляется логичным, что тактика выстраивания отношений
                    с коммерсчекими агентами искажает мониторинг активности.
                </div>
                <div class="docs__link-wrapper">
                    <a href="#" class="docs__link">Скачать</a>
                    <span>(pdf, 1МБ)</span>
                </div>
            </div>
        </div>

        <div class="docs__item">
            <a href="#" class="docs__preview-link">
                <img src="<?= publicdir('images/landing/doc-preview-2.png') ?>">
            </a>
            <div class="docs__text">
                <div class="docs__title">
                    Разрешение на строительство
                </div>
                <div class="docs__description">
                    Медиапланирование трансформирует контент.
                    Представляется логичным, что тактика выстраивания отношений
                    с коммерсчекими агентами искажает мониторинг активности.
                </div>
                <div class="docs__link-wrapper">
                    <a href="#" class="docs__link">Скачать</a>
                    <span>(pdf, 1МБ)</span>
                </div>
            </div>
        </div>


    </div>
</div>
