<div class="flat-search nav-checkpoint" data-nav-checkpoint="flat-search">
    <div class="flat-search__wrapper">
        <div class="flat-search__header">
            Выбор квартиры по параметрам
        </div>
        <form class="flat-search__form" method="post">

            <div class="flat-search__input-wrapper">
                <label>Корпус</label>
                <select class="flat-search__form-select">
                    <option>не важно</option>
                    <option>корпус 1</option>
                    <option>корпус 2</option>
                    <option>корпус 3</option>
                </select>
            </div>
            <div class="flat-search__input-wrapper">
                <label>Этаж</label>
                <select class="flat-search__form-select">
                    <option>любой</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="flat-search__input-wrapper">
                <label>Число комнат</label>
                <select class="flat-search__form-select">
                    <option>любое</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="flat-search__input-wrapper">
                <label>Диапазон цен</label>
                <div class="layout-slider">
                    <input id="price_range" type="slider" name="price_range" value="3939454;9874123" />
                </div>
            </div>

            <div class="flat-search__submit-wrapper">
                <input type="submit" value="Искать квартиру" class="flat-search__submit">
            </div>
        </form>
    </div>
</div>
