<div class="gallery">
    <div class="gallery__col">
        <div class="gallery__col-txt-wrapper">
            <div class="gallery__header">
                Квартира покупателю передаётся с отделкой «под ключ»
            </div>

            <ul class="gallery__list">
                <li>отделочные работы (обработка стен и перегородок, укладка
                    потолочных и напольных покрытий, монтаж окон, входных и
                    межкомнатных дверей);
                </li>
                <li>электромонтажные работы (прокладка электросиловой
                    разводки по всем комнатам);</li>

                <li>сантехнические работы (подводка холодного и горячего
                    водоснабжения, установка счетчиков);</li>

                <li>монтаж слаботочных систем (прокладка кабельных сетей
                    телефонной связи, интернет-линий);</li>

                <li>установка отопительного и сантехнического оборудования
                    (радиаторы, раковины, ванны)</li>
            </ul>

            <p class="gallery__paragraph">
                Не остается без внимания и отделка общественных зон.
                Отделка подъездов выполняется в спокойных тонах, что позволяет
                чувствовать себя комфортно сразу же, оказавшись внутри дома.
                На первых этажах располагаются помещения для хранения колясок и
                велосипедов. На входных дверях устанавливается обязательная система
                контроля доступа, что создаёт у жильцов ощущение
                комфорта и безопасности.
            </p>
        </div>
    </div>
    <div class="gallery__col">
        <div class="gallery__carousel fancygallery">
            <div class="fancygallery__large">
                <a class="fancygallery__caller" href="<?= publicdir('images/landing/fancybox/01.jpg') ?>"><div class="icon"></div></span></a>
            </div>
            <div class="fancygallery__row-previews">
                <?php $t1 = "Пример, в таком состоянии квартира передается покупателю";
                      $t2 = "Пример, как можно обустроить квартиру";
                ?>

                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/01.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/01-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/02.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/02-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/03.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/03-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/04.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/04-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/05.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/05-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/06.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/06-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/07.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/07-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/08.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/08-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/09.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/09-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/10.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/10-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/11.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/11-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/12.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/12-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/13.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/13-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/14.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/14-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/15.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/15-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t2 ?>" href="<?= publicdir('images/landing/fancybox/16.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/16-preview.jpg') ?>"></a></div>
                <div class="fancygallery__preview"><a class="fancybox-thumb" rel="fancybox-thumb" title="<?= $t1 ?>" href="<?= publicdir('images/landing/fancybox/17.jpg') ?>"><img src="<?= publicdir('images/landing/fancybox/17-preview.jpg') ?>"></a></div>
            </div>
        </div>
    </div>
</div>
