<div class="ijm">
    <div class="ijm__config">

        <div class="point"
            data-placemark-width="auto"
            data-placemark-flagpos="auto"
            data-title="Школа"
            data-status="no"
            data-status-label="В планах строительства"
            data-x-3d="897"
            data-y-3d="261"
            data-x="874"
            data-y="261"
            data-pos="auto" <?php // позиция: up/down/auto (auto - вычисляется js-ом, значение по умолчанию ?>
        >
            <main><!-- 1-ый столбец это main -->
                <img src="<?= publicdir('images/landing/popups.school-2.png') ?>">
                <h1>Школа с углубленным изучением отдельных предметов № 1392
                    имени Д.В. Рябинкина</h1>
                <p>
                    Сайт: <a href="http://schtn1392.mskobr.ru/" target="_blank">http://schtn1392.mskobr.ru/</a>
                </p>
            </main>
            <aside><!-- 2-ый столбец это aside -->
                <p>
                    Школа на 1 100 мест была открыта 1 сентября 2014 года мэром Москвы С.С. Собяниным.
                </p>
                <h2>Особенности объекта:</h2>
                <ul>
                    <li>оранжерея</li>
                    <li>теплицы</li>
                    <li>спортивное ядро (беговые дорожки, теннисный корт, баскетбольная и волейбольная
                        площадки, три спортивных зала)</li>
                    <li>классы обработки древесины и металла, кройки и шитья и кулинарии</li>
                    <li>мультимедийные комплексы в каждом классе</li>
                    <li>медицинский блок</li>
                </ul>

            </aside>
        </div>

        <div class="point"
            data-placemark-width="120px"
            data-placemark-flagpos="30px"
            data-title="Школа"
            data-status="yes"
            data-status-label="Уже работает"
            data-x-3d="355"
            data-y-3d="137"
            data-x="402"
            data-y="460"
            data-pos="auto"
        >
            <main>
                <img src="<?= publicdir('images/landing/popups.school.png') ?>">
                <h1>Школа с углубленным изучением отдельных предметов № 1392
                    имени Д.В. Рябинкина</h1>
                <p>
                    Сайт: <a href="http://schtn1392.mskobr.ru/" target="_blank">http://schtn1392.mskobr.ru/</a>
                </p>
            </main>
        </div>


        <div class="point"
            data-title="Парк"
            data-status="yes"
            data-status-label="Проверка блока снизу"
            data-x-3d="20"
            data-y-3d="600"
            data-x="700"
            data-y="900"
            data-pos="auto"
        >
            <main>
                <img src="<?= publicdir('images/landing/popups.school.png') ?>">
                <h1>Школа с углубленным изучением отдельных предметов № 1392
                    имени Д.В. Рябинкина</h1>
                <p>
                    Сайт: <a href="http://schtn1392.mskobr.ru/" target="_blank">http://schtn1392.mskobr.ru/</a>
                </p>
            </main>
            <aside>
                <p>
                    Тест тест тест
                </p>
            </aside>
        </div>
    </div>

    <div class="ijm__controls">
        <a href="#" class="ijm__control ijm__control--3D">3D</a>
        <a href="#" class="ijm__control ijm__control--plain">Вид сверху</a>
    </div>

    <div class="ijm__canvas ijm__canvas--plain">
        <div class="ijm__img">
            <img src="<?= publicdir('images/landing/infrastructure-bg-plain.jpg') ?>">
        </div>
        <div class="ijm__overlay"></div>
        <div class="ijm__legend">
            <img src="<?= publicdir('images/landing/legend-plain.png') ?>">
        </div>
    </div>

    <div class="ijm__canvas ijm__canvas--3D">
        <div class="ijm__img">
            <img src="<?= publicdir('images/landing/infrastructure-bg-3d.jpg') ?>">
        </div>
        <div class="ijm__overlay"></div>
        <div class="ijm__legend">
            <img src="<?= publicdir('images/landing/legend-3d.png') ?>">
        </div>
    </div>

    <script id="ijm__tmpl" type="text/x-jsrender">
        <div class="ijm__tooltip {{:status}} {{if placemark_width != 'auto'}}any-width{{/if}} {{if popup}}clickable{{/if}}"
             style="top: {{:y}}px; left:{{:x}}px {{if placemark_width != 'auto'}}; width: {{:placemark_width}};{{/if}}">
            <div class="ijm__title">{{:title}}</div>
            <div class="ijm__status">{{:status_label}}</div>

            {{if popup}}
                <div class="ijm__popup">{{: popup}}<div class="ijm__popup-close"></div><div class="ijm__popup-corner"></div></div>
            {{/if}}

            <div class="ijm__tooltip-flag"
                {{if placemark_flagpos !== 'auto'}}
                    style="margin-left:0; left: {{:placemark_flagpos}};"
                {{/if}}
            ></div>
        </div>
    </script>

</div>
