<div class="infrastructure nav-checkpoint" data-nav-checkpoint="infrastructure">
    <div class="infrastructure__header">
        Инфраструктура квартала и окружение
    </div>
    <div class="infrastructure__illustration">
        <img src="<?= publicdir('images/landing/infrastructure.jpg') ?>">
    </div>
    <div class="infrastructure__subheader">
        Социальная инфраструктура
    </div>
    <div class="infrastructure__social-wrapper">
        <div class="infrastructure__social-item infrastructure__social-item--kindergarden">Два детских сада<br>на 450 мест</div>
        <div class="infrastructure__social-item infrastructure__social-item--school">Школа<br>на 1100 учеников</div>
        <div class="infrastructure__social-item infrastructure__social-item--clinic">Поликлиника<br>детская и взрослая<br>на 550 посещений</div>
        <div class="infrastructure__social-item infrastructure__social-item--parking">Многоуровневый<br>паркинг<br>на 569 машиномест</div>
        <div class="infrastructure__social-item infrastructure__social-item--cafe">Магазины, кафе</div>
    </div>
    <div class="infrastructure__extras-header">
        Дополнительно будут построены
    </div>
    <div class="infrastructure__extras">
        <div class="infrastructure__extra-col">
            <ul class="infrastructure__extra-list">
                <li>Детский сад (ввод - весна 2017)</li>
                <li>Школа (ввод - весна 2017)</li>
                <li>Паркинги</li>
                <li>Деловой центр</li>
                <li>Здание администрации (служба «одного окна»)</li>
            </ul>
        </div>
        <div class="infrastructure__extra-col">
            <ul class="infrastructure__extra-list">
                <li>Многофункциональный центр (торговые ряды, рестораны,
                    фитнес-клубы, кинотеатры, офисы)</li>
                <li>Торгово-бытовой центр (осень 2016)</li>
                <li>Кружки и секции по интересам для разных
                    возрастных групп (2016-2017)</li>
                <li>Собственный парк</li>
            </ul>
        </div>
    </div>
</div>
