<div class="location nav-checkpoint" data-nav-checkpoint="location">
    <div class="location__text">
        <div class="location__header">
            Местоположение<br>и транспортная доступность
        </div>
        <p class="location__paragraph">
            Район Центральный Новые Ватутинки расположен<br>
            в границах города Москвы, в 14 км. от МКАД<br>
            по Калужскому и в 25  км. от МКАД  по Киевскому<br>шоссе.
        </p>
        <p class="location__paragraph location--address">
            Адрес: Москва, п. Десеновское, Новые Ватутинки, район Центральный
        </p>
        <p class="location__paragraph">
            <a href="#" class="location__link">Как доехать на автотранспорте</a>
            <a href="#" class="location__link">Как доехать на общественном транспорте </a>
        </p>
        <p class="location__paragraph">
            Согласно градостроительным планам по развитию новых территорий г. Москвы,
            в непосредственной близости от района будут  развиваться спортивный,
            образовательный и медицинский кластеры, в том числе в самом районе
            Центральный, Новые Ватутинки.
        </p>
    </div>

    <div class="location__illustration">
        <img src="<?= publicdir('images/landing/location.png') ?>">
    </div>
</div>
