<div class="newblocks">
    <div class="newblocks__window">
        <div class="newblocks__header">
            Новые корпуса —<br>новые возможности!
        </div>
        <div class="newblocks__subheader">
            Старт продаж квартир в корпусах 20/1 и 20/2!
        </div>
        <div class="newblocks__controls">
            <a href="#flat-search" rel="scrollto" class="newblocks__btn"><span>Всего от 3 млн Р!</span></a>
            <a href="#gallery" rel="scrollto" class="newblocks__btn"><span>Квартиры с отделкой!</span></a>
            <a href="#infrastructure" rel="scrollto" class="newblocks__btn"><span>Район уже жилой!</span></a>
        </div>
    </div>

    <div class="newblocks__slide-controls">
        <a href="#" class="newblocks__dot newblocks__dot--active"></a>
        <a href="#" class="newblocks__dot"></a>
        <a href="#" class="newblocks__dot"></a>
    </div>
</div>
