<script type="text/javascript">(function(w,doc) {
if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
}})(window,document);
</script>
<div data-background-alpha="0.0" data-orientation="horizontal"
     data-text-color="#000000" data-share-shape="SHARP"
     data-buttons-color="#FFFFFF" data-sn-ids="fb.vk.ok.gp."
     data-counter-background-color="#ffffff" data-share-size="LARGE"
     data-background-color="#ffffff" data-mobile-sn-ids="fb.vk.ok.gp."
     data-preview-mobile="false" data-pid="1382290" data-counter-background-alpha="1.0"
     data-mode="like" data-following-enable="false" data-exclude-show-more="false"
     data-like-text-enable="false" data-selection-enable="true" data-mobile-view="true"
     data-icon-color="#ffffff" class="uptolike-buttons" >
</div>
